<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Login</title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  <h1>Bem-vindo ao Gerenciador de Tarefas</h1><a href="/">Sair</a>
    <div style="background-color: #a0f5a0;width: 10%;">
      <h3>Exemplo tarefa</h3></br>
      <p>Tarefa</p></br>
      <form action="/tarefa" method="get">
        <button type="submit">Alterar</button><button>Excluir</button>
      </form>
    </div>
</body>
</html>

